<h1><center><b>Estudo do Mercado Imobiliário de São Paulo</b></center></h1>

<h2>Introdução</h2>
<font size=3>São Paulo é o centro financeiro do Brasil e tem uma área de 1.521 km², com isso se torna a 10ª maior cidade do mundo. Com essas informações podemos inferir que teremos que teremos muitos imovéis com bastante diversificação para a nossa análise.</font>

<a name='INDICE'></a>
<h2>Índice</h2>
<ol>
    <li><a href='#PREPRO'>Pré-processamento</a></li>
    <ol>
        <li><a href='#BIBLIO'>Importando as bibliotecas</a></li>
        <li><a href='#DATASET'>Importando o dataset</a></li>
        <li><a href='#SPLIT'>Divindo entre <i>train</i> e <i>test</i></a></li>
        <li><a href='#FEAT'>Feature engineering</a></li>
    </ol>
    <li><a href='#MODEL'>Modelo</a></li>
    <ol>
        <li><a href='#RANDF'>Random Forrest</a></li>
        <li><a href='#BAYES'>Bayesian Optimization</a></li>
        <li><a href='#FINAL'>Modelo Final</a></li>
    </ol>
    <li><a href='#SAVE'>Salvando o modelo</a></li>
</ol>

<a name='PREPRO'></a>
<h2>Pré-processamento</h2>
<font size=3>Nesta parte o dataset será <i>"limpo"</i> para ser utilizado no modelo.</font>
<a name='BIBLIO'></a>
<h3>Importando as bibliotecas</h3>

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_squared_log_error
from skopt import forest_minimize
import joblib as jb

warnings.filterwarnings("ignore")
pd.options.display.max_columns = 999

<a name='DATASET'></a>
<h3>Importando o dataset</h3>

In [51]:
df = pd.read_csv('./imoveis-sp.csv')
df.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude,Subway Station,Dist2Subway
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim,rent,apartment,-23.543138,-46.479486,Artur Alvim,0.621993
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim,rent,apartment,-23.550239,-46.480718,Artur Alvim,1.179514
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim,rent,apartment,-23.542818,-46.485665,Artur Alvim,0.301435
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim,rent,apartment,-23.547171,-46.483014,Artur Alvim,0.786418
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim,rent,apartment,-23.525025,-46.482436,Artur Alvim,1.701374

<font size=3>Adicionando a variável target que será a soma do <i>preço</i> e <i>valor do condomínio</i>.</font>

In [52]:
df['y'] = df['Price'] + df['Condo']

<a name='SPLIT'></a>
<h3>Dividindo entre <i>train</i> e <i>test</i></h3>

In [53]:
X = df.drop(labels=['Price', 'Condo', 'y'], axis=1)
y = df['y']

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=75)
print('X_train:{} \ny_train:{} \nX_test:\t{} \ny_test:\t{}'.format(X_train.shape,y_train.shape,X_test.shape,y_test.shape))

X_train:(8931, 16)
y_train:(8931,)
X_test:	(3828, 16)
y_test:	(3828,)

In [55]:
X_train.tail()

,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude,Subway Station,Dist2Subway
8128,47,2,2,1,1,1,0,1,0,São Mateus,sale,apartment,-23.594348,-46.467430,Vila Uniao,5.004922
5585,67,3,2,1,1,0,0,0,0,Campo Limpo,rent,apartment,-23.652268,-46.766401,Capao Redondo,0.781525
2067,57,2,2,1,1,1,0,0,0,Rio Pequeno,rent,apartment,-23.559315,-46.748244,Sao Paulo Morumbi,3.872227
8560,46,2,2,1,1,0,0,0,0,Cidade Ademar,sale,apartment,-23.674722,-46.653257,Jabaquara,3.381422
4344,92,3,2,1,1,0,0,0,0,Pinheiros,rent,apartment,-23.562718,-46.674759,Oscar Freire,0.353806

<a name='FEAT'></a>
<h3>Feature engineering</h3>
<font size=3>Verificando a quantidade de valores distintos em cada feature.</font>

In [56]:
for feature in X_train.columns:
    print('{}: {}'.format(feature, X_train[feature].nunique()))

Size: 314
Rooms: 8
Toilets: 8
Suites: 6
Parking: 10
Elevator: 2
Furnished: 2
Swimming Pool: 2
New: 2
District: 96
Negotiation Type: 2
Property Type: 1
Latitude: 6352
Longitude: 6395
Subway Station: 79
Dist2Subway: 6466

<font size=3>Como a feature <i>Property Type</i> só contém um valor distinto será retirada, e como <i>Subway Station</i> na maioria das vezes é igual ao campo <i>District</i> iremos retirar também.</font>

In [57]:
X_train.drop(['Property Type','Subway Station', 'Latitude', 'Longitude'], axis=1, inplace=True)
X_test.drop(['Property Type', 'Subway Station', 'Latitude', 'Longitude'], axis=1, inplace=True)

In [58]:
X_train.dtypes

Size                  int64
Rooms                 int64
Toilets               int64
Suites                int64
Parking               int64
Elevator              int64
Furnished             int64
Swimming Pool         int64
New                   int64
District             object
Negotiation Type     object
Dist2Subway         float64
dtype: object

<font size=3>Com o <i>OneHotEncoder</i> é possível transformar as variáveis categóricas para numéricas, primeiro vamos transformar as variáveis do conjunto de treino.</font>

In [59]:
cat_cols = ['Negotiation Type', 'District']
enc = OneHotEncoder(drop='first', sparse=False)
train_cat_feat = enc.fit_transform(X_train[cat_cols])
train_cat_feat = pd.DataFrame(train_cat_feat)
train_cat_feat.columns = enc.get_feature_names(cat_cols)
train_cat_feat.index = X_train.index
train_num_feat = X_train.drop(cat_cols, axis=1)
X_train_feat = pd.merge(train_cat_feat, train_num_feat, left_index=True, right_index=True)

<font size=3>Realizando o mesmo procedimento para os dados de teste.</font>

In [60]:
test_cat_feat = enc.transform(X_test[cat_cols])
test_cat_feat = pd.DataFrame(test_cat_feat)
test_cat_feat.columns = enc.get_feature_names(cat_cols)
test_cat_feat.index = X_test.index
test_num_feat = X_test.drop(cat_cols, axis=1)
X_test_feat = pd.merge(test_cat_feat, test_num_feat, left_index=True, right_index=True)

<a href='#INDICE'>Voltar para o índice</a>
<a name='MODEL'></a>
<h2>Modelo</h2>
<a name='RANDF'></a>
<h3>Random Forrest</h3>

In [61]:
rf = RandomForestRegressor(n_estimators=100, max_depth=10, min_samples_leaf=2, random_state=75)
rf.fit(X_train_feat, y_train)
y_pred = rf.predict(X_test_feat)

In [62]:
def metrics(y_true, y_pred):
    mae = mean_absolute_error(y_true, y_pred)
    rmse = mean_squared_error(y_true, y_pred)**(1/2)
    msle = mean_squared_log_error(y_true, y_pred)
    print('Mean Absolute Error: \t {}\nRoot Mean Squared Error: {}\nMean Squared Log Error:  {}'
          .format(mae,rmse,msle))

In [63]:
metrics(y_test, y_pred)

Mean Absolute Error: 	 61681.66718882765
Root Mean Squared Error: 189055.3114102424
Mean Squared Log Error:  0.07766357310955548

<a name='BAYES'></a>
<h3>Bayesian Optimization</h3>

In [66]:
def tuning(space):
    print(space)
    n_estimators = space[0]
    max_depth = space[1]
    min_samples_leaf = space[2]
    
    mdl_rf = RandomForestRegressor(n_estimators=n_estimators,
                                   max_depth=max_depth,
                                   min_samples_leaf=min_samples_leaf,
                                   random_state=75)
    mdl_rf.fit(X_train_feat, y_train)
    
    p = mdl_rf.predict(X_test_feat)
    metrics(y_test, p)
    return mean_squared_log_error(y_test, p)

space = [(100, 1000), # n_estimators
         (1, 10), # max_depth
         (1, 20)] # min_samples_leaf

res = forest_minimize(tuning, space, random_state=75, n_random_starts=20, n_calls=50, verbose=1)

Iteration No: 1 started. Evaluating function at random point.
[468, 4, 18]
Mean Absolute Error: 	 85417.31947336871
Root Mean Squared Error: 235881.24042487735
Mean Squared Log Error:  0.15096425250763928
Iteration No: 1 ended. Evaluation done at random point.
Time taken: 11.3100
Function value obtained: 0.1510
Current minimum: 0.1510
Iteration No: 2 started. Evaluating function at random point.
[236, 1, 7]
Mean Absolute Error: 	 194712.23107299866
Root Mean Squared Error: 513643.8577927441
Mean Squared Log Error:  0.6041189498508411
Iteration No: 2 ended. Evaluation done at random point.
Time taken: 1.6969
Function value obtained: 0.6041
Current minimum: 0.1510
Iteration No: 3 started. Evaluating function at random point.
[134, 2, 1]
Mean Absolute Error: 	 143338.0739496661
Root Mean Squared Error: 346729.7716784578
Mean Squared Log Error:  0.34431437794597647
Iteration No: 3 ended. Evaluation done at random point.
Time taken: 1.5809
Function value obtained: 0.3443
Current minimum: 0.1510
Iteration No: 4 started. Evaluating function at random point.
[995, 8, 7]
Mean Absolute Error: 	 67381.3047608065
Root Mean Squared Error: 203248.9501447772
Mean Squared Log Error:  0.0903605119857353
Iteration No: 4 ended. Evaluation done at random point.
Time taken: 43.4484
Function value obtained: 0.0904
Current minimum: 0.0904
Iteration No: 5 started. Evaluating function at random point.
[727, 10, 14]
Mean Absolute Error: 	 69785.32065634754
Root Mean Squared Error: 215009.97196178697
Mean Squared Log Error:  0.08682902714089821
Iteration No: 5 ended. Evaluation done at random point.
Time taken: 32.0041
Function value obtained: 0.0868
Current minimum: 0.0868
Iteration No: 6 started. Evaluating function at random point.
[906, 5, 5]
Mean Absolute Error: 	 77432.18825185439
Root Mean Squared Error: 220810.04175865708
Mean Squared Log Error:  0.1274796774178781
Iteration No: 6 ended. Evaluation done at random point.
Time taken: 21.3031
Function value obtained: 0.1275
Current minimum: 0.0868
Iteration No: 7 started. Evaluating function at random point.
[788, 1, 17]
Mean Absolute Error: 	 194825.72064532439
Root Mean Squared Error: 513642.9539681632
Mean Squared Log Error:  0.6041650473964154
Iteration No: 7 ended. Evaluation done at random point.
Time taken: 5.9828
Function value obtained: 0.6042
Current minimum: 0.0868
Iteration No: 8 started. Evaluating function at random point.
[568, 1, 13]
Mean Absolute Error: 	 194768.820512805
Root Mean Squared Error: 513643.3640495985
Mean Squared Log Error:  0.6041028422555045
Iteration No: 8 ended. Evaluation done at random point.
Time taken: 6.2682
Function value obtained: 0.6041
Current minimum: 0.0868
Iteration No: 9 started. Evaluating function at random point.
[174, 2, 20]
Mean Absolute Error: 	 143235.64404930398
Root Mean Squared Error: 347896.7644160063
Mean Squared Log Error:  0.3447102681499175
Iteration No: 9 ended. Evaluation done at random point.
Time taken: 2.9066
Function value obtained: 0.3447
Current minimum: 0.0868
Iteration No: 10 started. Evaluating function at random point.
[483, 10, 15]
Mean Absolute Error: 	 70214.77665099144
Root Mean Squared Error: 216368.0301620596
Mean Squared Log Error:  0.08753686450548963
Iteration No: 10 ended. Evaluation done at random point.
Time taken: 33.7041
Function value obtained: 0.0875
Current minimum: 0.0868
Iteration No: 11 started. Evaluating function at random point.
[650, 4, 11]
Mean Absolute Error: 	 84540.7799070063
Root Mean Squared Error: 231862.28523974956
Mean Squared Log Error:  0.15029009977461436
Iteration No: 11 ended. Evaluation done at random point.
Time taken: 20.8913
Function value obtained: 0.1503
Current minimum: 0.0868
Iteration No: 12 started. Evaluating function at random point.
[174, 10, 7]
Mean Absolute Error: 	 64902.45424831343
Root Mean Squared Error: 199919.28166118168
Mean Squared Log Error:  0.07996966911806332
Iteration No: 12 ended. Evaluation done at random point.
Time taken: 12.7826
Function value obtained: 0.0800
Current minimum: 0.0800
Iteration No: 13 started. Evaluating function at random point.
[399, 1, 12]
Mean Absolute Error: 	 194785.7461725583
Root Mean Squared Error: 513643.2332893787
Mean Squared Log Error:  0.6041243929861756
Iteration No: 13 ended. Evaluation done at random point.
Time taken: 2.4649
Function value obtained: 0.6041
Current minimum: 0.0800
Iteration No: 14 started. Evaluating function at random point.
[157, 2, 16]
Mean Absolute Error: 	 143322.73888353165
Root Mean Squared Error: 347391.1093563233
Mean Squared Log Error:  0.34528002741368624
Iteration No: 14 ended. Evaluation done at random point.
Time taken: 2.5934
Function value obtained: 0.3453
Current minimum: 0.0800
Iteration No: 15 started. Evaluating function at random point.
[462, 9, 17]
Mean Absolute Error: 	 71662.77469767572
Root Mean Squared Error: 219701.99175866012
Mean Squared Log Error:  0.0912345367287459
Iteration No: 15 ended. Evaluation done at random point.
Time taken: 17.3968
Function value obtained: 0.0912
Current minimum: 0.0800
Iteration No: 16 started. Evaluating function at random point.
[763, 9, 2]
Mean Absolute Error: 	 62936.36920503731
Root Mean Squared Error: 190246.70385895472
Mean Squared Log Error:  0.08251040545941767
Iteration No: 16 ended. Evaluation done at random point.
Time taken: 28.7046
Function value obtained: 0.0825
Current minimum: 0.0800
Iteration No: 17 started. Evaluating function at random point.
[714, 2, 10]
Mean Absolute Error: 	 143093.58866213923
Root Mean Squared Error: 350234.6314167523
Mean Squared Log Error:  0.3428130835999534
Iteration No: 17 ended. Evaluation done at random point.
Time taken: 7.7155
Function value obtained: 0.3428
Current minimum: 0.0800
Iteration No: 18 started. Evaluating function at random point.
[699, 1, 13]
Mean Absolute Error: 	 194832.01079966588
Root Mean Squared Error: 513642.91260646953
Mean Squared Log Error:  0.6041073727597637
Iteration No: 18 ended. Evaluation done at random point.
Time taken: 4.5045
Function value obtained: 0.6041
Current minimum: 0.0800
Iteration No: 19 started. Evaluating function at random point.
[203, 6, 15]
Mean Absolute Error: 	 75001.8800968984
Root Mean Squared Error: 220350.39365188123
Mean Squared Log Error:  0.11312710275946031
Iteration No: 19 ended. Evaluation done at random point.
Time taken: 6.6862
Function value obtained: 0.1131
Current minimum: 0.0800
Iteration No: 20 started. Evaluating function at random point.
[548, 10, 5]
Mean Absolute Error: 	 63718.10437968326
Root Mean Squared Error: 197085.635640672
Mean Squared Log Error:  0.07827706900365862
Iteration No: 20 ended. Evaluation done at random point.
Time taken: 23.2119
Function value obtained: 0.0783
Current minimum: 0.0783
Iteration No: 21 started. Searching for the next optimal point.
[741, 8, 8]
Mean Absolute Error: 	 68036.69871141408
Root Mean Squared Error: 206625.66697751448
Mean Squared Log Error:  0.09105554010927523
Iteration No: 21 ended. Search finished for the next optimal point.
Time taken: 26.9355
Function value obtained: 0.0911
Current minimum: 0.0783
Iteration No: 22 started. Searching for the next optimal point.
[892, 8, 10]
Mean Absolute Error: 	 69215.12060966314
Root Mean Squared Error: 212182.19421871053
Mean Squared Log Error:  0.09192068996474816
Iteration No: 22 ended. Search finished for the next optimal point.
Time taken: 31.3583
Function value obtained: 0.0919
Current minimum: 0.0783
Iteration No: 23 started. Searching for the next optimal point.
[107, 7, 6]
Mean Absolute Error: 	 69251.56043220339
Root Mean Squared Error: 203171.8965286377
Mean Squared Log Error:  0.09828440144630253
Iteration No: 23 ended. Search finished for the next optimal point.
Time taken: 3.6486
Function value obtained: 0.0983
Current minimum: 0.0783
Iteration No: 24 started. Searching for the next optimal point.
[829, 7, 17]
Mean Absolute Error: 	 73759.55412750915
Root Mean Squared Error: 220850.74650665917
Mean Squared Log Error:  0.10206175884860622
Iteration No: 24 ended. Search finished for the next optimal point.
Time taken: 23.5498
Function value obtained: 0.1021
Current minimum: 0.0783
Iteration No: 25 started. Searching for the next optimal point.
[943, 5, 16]
Mean Absolute Error: 	 79073.91829879768
Root Mean Squared Error: 225754.30008116024
Mean Squared Log Error:  0.12951658630515894
Iteration No: 25 ended. Search finished for the next optimal point.
Time taken: 19.7751
Function value obtained: 0.1295
Current minimum: 0.0783
Iteration No: 26 started. Searching for the next optimal point.
[935, 4, 16]
Mean Absolute Error: 	 84949.40380544343
Root Mean Squared Error: 232990.2280422768
Mean Squared Log Error:  0.15055573189155302
Iteration No: 26 ended. Search finished for the next optimal point.
Time taken: 16.1668
Function value obtained: 0.1506
Current minimum: 0.0783
Iteration No: 27 started. Searching for the next optimal point.
[269, 5, 9]
Mean Absolute Error: 	 77627.9359981219
Root Mean Squared Error: 221221.87826197754
Mean Squared Log Error:  0.1275355491378875
Iteration No: 27 ended. Search finished for the next optimal point.
Time taken: 5.8552
Function value obtained: 0.1275
Current minimum: 0.0783
Iteration No: 28 started. Searching for the next optimal point.
[562, 7, 1]
Mean Absolute Error: 	 67659.26764182532
Root Mean Squared Error: 196105.27453212245
Mean Squared Log Error:  0.09794036265054318
Iteration No: 28 ended. Search finished for the next optimal point.
Time taken: 16.3760
Function value obtained: 0.0979
Current minimum: 0.0783
Iteration No: 29 started. Searching for the next optimal point.
[139, 6, 4]
Mean Absolute Error: 	 72249.55012942434
Root Mean Squared Error: 210510.80411448143
Mean Squared Log Error:  0.11108134751363105
Iteration No: 29 ended. Search finished for the next optimal point.
Time taken: 3.9879
Function value obtained: 0.1111
Current minimum: 0.0783
Iteration No: 30 started. Searching for the next optimal point.
[902, 3, 1]
Mean Absolute Error: 	 99382.23530804609
Root Mean Squared Error: 261063.62520400516
Mean Squared Log Error:  0.19961388569651525
Iteration No: 30 ended. Search finished for the next optimal point.
Time taken: 12.2841
Function value obtained: 0.1996
Current minimum: 0.0783
Iteration No: 31 started. Searching for the next optimal point.
[886, 3, 1]
Mean Absolute Error: 	 99361.47943409171
Root Mean Squared Error: 261012.79783114506
Mean Squared Log Error:  0.1995966414542115
Iteration No: 31 ended. Search finished for the next optimal point.
Time taken: 11.7704
Function value obtained: 0.1996
Current minimum: 0.0783
Iteration No: 32 started. Searching for the next optimal point.
[838, 3, 13]
Mean Absolute Error: 	 99472.40590715763
Root Mean Squared Error: 262568.02771896654
Mean Squared Log Error:  0.19976705478208026
Iteration No: 32 ended. Search finished for the next optimal point.
Time taken: 11.4334
Function value obtained: 0.1998
Current minimum: 0.0783
Iteration No: 33 started. Searching for the next optimal point.
[133, 4, 1]
Mean Absolute Error: 	 83940.32874624476
Root Mean Squared Error: 227384.031654382
Mean Squared Log Error:  0.15007946491733276
Iteration No: 33 ended. Search finished for the next optimal point.
Time taken: 2.9259
Function value obtained: 0.1501
Current minimum: 0.0783
Iteration No: 34 started. Searching for the next optimal point.
[500, 6, 1]
Mean Absolute Error: 	 71579.79578565362
Root Mean Squared Error: 203684.30053544574
Mean Squared Log Error:  0.1108661270398185
Iteration No: 34 ended. Search finished for the next optimal point.
Time taken: 12.7299
Function value obtained: 0.1109
Current minimum: 0.0783
Iteration No: 35 started. Searching for the next optimal point.
[538, 7, 6]
Mean Absolute Error: 	 69204.83796468143
Root Mean Squared Error: 204778.33750274696
Mean Squared Log Error:  0.09823818022015626
Iteration No: 35 ended. Search finished for the next optimal point.
Time taken: 16.8885
Function value obtained: 0.0982
Current minimum: 0.0783
Iteration No: 36 started. Searching for the next optimal point.
[224, 8, 14]
Mean Absolute Error: 	 71047.43302496814
Root Mean Squared Error: 215969.64123900395
Mean Squared Log Error:  0.09400437614747569
Iteration No: 36 ended. Search finished for the next optimal point.
Time taken: 13.4785
Function value obtained: 0.0940
Current minimum: 0.0783
Iteration No: 37 started. Searching for the next optimal point.
[555, 8, 2]
Mean Absolute Error: 	 64893.93755033453
Root Mean Squared Error: 192987.3775145023
Mean Squared Log Error:  0.089045703457222
Iteration No: 37 ended. Search finished for the next optimal point.
Time taken: 22.2568
Function value obtained: 0.0890
Current minimum: 0.0783
Iteration No: 38 started. Searching for the next optimal point.
[876, 6, 9]
Mean Absolute Error: 	 73199.87116140487
Root Mean Squared Error: 215072.669760163
Mean Squared Log Error:  0.11133600486025687
Iteration No: 38 ended. Search finished for the next optimal point.
Time taken: 23.0531
Function value obtained: 0.1113
Current minimum: 0.0783
Iteration No: 39 started. Searching for the next optimal point.
[119, 5, 4]
Mean Absolute Error: 	 77359.38425198421
Root Mean Squared Error: 220442.54155235304
Mean Squared Log Error:  0.12756991255277214
Iteration No: 39 ended. Search finished for the next optimal point.
Time taken: 2.9968
Function value obtained: 0.1276
Current minimum: 0.0783
Iteration No: 40 started. Searching for the next optimal point.
[708, 5, 3]
Mean Absolute Error: 	 77048.89028005963
Root Mean Squared Error: 217751.70216576583
Mean Squared Log Error:  0.12754204971016733
Iteration No: 40 ended. Search finished for the next optimal point.
Time taken: 16.0214
Function value obtained: 0.1275
Current minimum: 0.0783
Iteration No: 41 started. Searching for the next optimal point.
[694, 9, 4]
Mean Absolute Error: 	 64078.97617913832
Root Mean Squared Error: 196631.52634556397
Mean Squared Log Error:  0.08270998674204685
Iteration No: 41 ended. Search finished for the next optimal point.
Time taken: 26.3611
Function value obtained: 0.0827
Current minimum: 0.0783
Iteration No: 42 started. Searching for the next optimal point.
[209, 5, 7]
Mean Absolute Error: 	 77475.22999151953
Root Mean Squared Error: 219598.55268314102
Mean Squared Log Error:  0.1273611762440757
Iteration No: 42 ended. Search finished for the next optimal point.
Time taken: 4.9408
Function value obtained: 0.1274
Current minimum: 0.0783
Iteration No: 43 started. Searching for the next optimal point.
[937, 6, 12]
Mean Absolute Error: 	 74093.29657226795
Root Mean Squared Error: 218690.11015480748
Mean Squared Log Error:  0.11203023911553671
Iteration No: 43 ended. Search finished for the next optimal point.
Time taken: 23.9998
Function value obtained: 0.1120
Current minimum: 0.0783
Iteration No: 44 started. Searching for the next optimal point.
[643, 4, 4]
Mean Absolute Error: 	 84516.52609285794
Root Mean Squared Error: 230979.14297542907
Mean Squared Log Error:  0.15032660024929734
Iteration No: 44 ended. Search finished for the next optimal point.
Time taken: 11.6706
Function value obtained: 0.1503
Current minimum: 0.0783
Iteration No: 45 started. Searching for the next optimal point.
[996, 8, 18]
Mean Absolute Error: 	 72753.26540185764
Root Mean Squared Error: 221742.59318018597
Mean Squared Log Error:  0.09613548697167168
Iteration No: 45 ended. Search finished for the next optimal point.
Time taken: 31.7057
Function value obtained: 0.0961
Current minimum: 0.0783
Iteration No: 46 started. Searching for the next optimal point.
[664, 10, 1]
Mean Absolute Error: 	 61042.77979796079
Root Mean Squared Error: 185047.0890446719
Mean Squared Log Error:  0.07738163635088524
Iteration No: 46 ended. Search finished for the next optimal point.
Time taken: 27.2180
Function value obtained: 0.0774
Current minimum: 0.0774
Iteration No: 47 started. Searching for the next optimal point.
[204, 5, 4]
Mean Absolute Error: 	 77467.12789548373
Root Mean Squared Error: 220803.9612593681
Mean Squared Log Error:  0.12731762734621985
Iteration No: 47 ended. Search finished for the next optimal point.
Time taken: 4.9699
Function value obtained: 0.1273
Current minimum: 0.0774
Iteration No: 48 started. Searching for the next optimal point.
[337, 4, 4]
Mean Absolute Error: 	 84301.605585963
Root Mean Squared Error: 230593.66973030896
Mean Squared Log Error:  0.14998627638147624
Iteration No: 48 ended. Search finished for the next optimal point.
Time taken: 5.9463
Function value obtained: 0.1500
Current minimum: 0.0774
Iteration No: 49 started. Searching for the next optimal point.
[112, 10, 13]
Mean Absolute Error: 	 68890.51944965252
Root Mean Squared Error: 212637.80191664808
Mean Squared Log Error:  0.08579426082667732
Iteration No: 49 ended. Search finished for the next optimal point.
Time taken: 4.5765
Function value obtained: 0.0858
Current minimum: 0.0774
Iteration No: 50 started. Searching for the next optimal point.
[569, 10, 7]
Mean Absolute Error: 	 65028.09883046124
Root Mean Squared Error: 201219.1683727214
Mean Squared Log Error:  0.08014931932497794
Iteration No: 50 ended. Search finished for the next optimal point.
Time taken: 20.8383
Function value obtained: 0.0801
Current minimum: 0.0774

In [67]:
print('n_estimator: \t  {} \nmax_depth: \t  {} \nmin_samples_leaf: {}'.format(res.x[0],res.x[1],res.x[2]))

n_estimator: 	  664
max_depth: 	  10
min_samples_leaf: 1

<a name='FINAL'></a>
<h3>Modelo final</h3>

In [68]:
rf = RandomForestRegressor(n_estimators=548, max_depth=10, min_samples_leaf=5, random_state=75)
rf.fit(X_train_feat, y_train)
y_pred = rf.predict(X_test_feat)
metrics(y_test, y_pred)

Mean Absolute Error: 	 63718.10437968326
Root Mean Squared Error: 197085.635640672
Mean Squared Log Error:  0.07827706900365862

<a href='#INDICE'>Voltar para o índice</a>
<a href='INDICE'></a>
<a name='SAVE'></a>
<h2>Salvando o modelo</h2>

In [69]:
jb.dump(rf, './deploy/model_20200419.pkl.z')
jb.dump(enc, './deploy/onehot_20200419.pkl.z')

['./deploy/onehot_20200419.pkl.z']

In [146]:
data = pd.DataFrame()
data['District'] = X_train['District'].unique()
data.to_csv('./deploy/district.csv', index=False)